body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    background-image: url("../HomePictures/AdminBack.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden-elements {
    display: none;
}

#result {
    color: red;
    margin-top: 10px;
}

.form-label {
    font-weight: bold;
}

.btn-primary:hover {
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}